@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  :root {
    /* Cores */
    --primary-color: #007bff; 
    --secondary-color: #f9f9f9;
    --black-color: #000; 
    --white-color: #fff;
    --darken-color: #1458a0;
  }
  
  /* Botão primário */
  .primary-button {
    padding: 10px 20px;
    background-color: var(--primary-color); 
    color: var(--white-color); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .primary-button:hover {
    background-color: var(--darken-color);
  }
  
  /* Botão secundário */
  .secondary-button {
    padding: 10px 20px;
    background-color: var(--secondary-color); 
    color: var(--black-color); 
    border: 1px solid #ccc; 
    border-radius: 5px;
    cursor: pointer;
  }
  
  .secondary-button:hover {
    background-color: #ccc; 
  }
  
  .primary-color {
    color: var(--primary-color); 
  }
  
  .secondary-color {
    color: var(--secondary-color); /* Cor secundária */
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
