<div *ngIf="question" class="form-container">
  <form (ngSubmit)="vote()" *ngIf="question" class="vote-form">
    <fieldset>
      <legend><h1>{{ question.question_text }}</h1></legend>
      <div *ngIf="error_message" class="error-message"><strong>{{ error_message }}</strong></div>
      <div *ngFor="let choice of choice_set" class="choice">
        <input type="radio" name="choice" id="{{ 'choice' + choice.id }}" [value]="choice.id" [(ngModel)]="selectedChoice">
        <label for="{{ 'choice' + choice.id }}">{{ choice.choice_text }}</label><br>
        <span class="votes">{{ choice.votes }} vote{{ choice.votes != 1 ? 's' : '' }}</span>
      </div>
    </fieldset>
    <button type="submit" class="primary-button">Vote</button>
    <button [routerLink]="['/']" class="secondary-button">Back</button>
  </form>
</div>
