<main>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-title">Testr</div>
      <div class="navbar-links">
        <ng-container *ngIf="!isLoggedIn; else loggedIn">
          <button class="primary-button" routerLink="/login">Login</button>
          <button class="secondary-button" routerLink="/register">Register</button>
        </ng-container>
        <ng-template #loggedIn>
          {{ username }}
          <button class="primary-button" (click)="logout()">Logout</button>
        </ng-template>
      </div>
    </div>
  </nav>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
  <div class="footer">
    Testr &#64; 2024
  </div>
</main>