<div class="flex">
  <div class="register-container">
    <h2>Register</h2>
    <form (submit)="register()">
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>
      
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
      
      <button class="primary-button" type="submit">Register</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>
</div>