<div class="course-name">{{ course.name }}</div>

<main>
    <div class="back-link"><a [routerLink]="['/']">Back</a></div>
    <div *ngIf="sections.length > 0; else noSections" class="sections">
        <ul>
            <div *ngFor="let section of sections; index as i" class="section-item">
                <a [routerLink]="['/section', section.id]">{{ section.name }}</a>
            </div>
        </ul>   
    </div>
</main>

<ng-template #noSections>
    <p class="no-sections-message">No sections are available.</p>
</ng-template>