<div class="course-name">{{ course.name }}</div>

<main>
    <div *ngIf="sections.length > 0; else noSections" class="sections">
        <ul>
            <div *ngFor="let section of sections; index as i">
                <div class="section-item">{{ section.name }}</div>
                {{ getQuestions(0) }}
                        <div *ngFor="let question of questions">
                            <div class="question-item">
                                {{ question.id }}. {{ question.name }}
                            </div>
                        </div>
            </div>
        </ul>   
    </div>
</main>

<ng-template #noSections>
    <p class="no-sections-message">No sections are available.</p>
</ng-template>

<ng-template #noQuestions>
    <p class="no-sections-message">No sections are available.</p>
</ng-template>