.course-name{
    font-size: 2.5rem;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2%;
}

.sections {
    max-width: 50%;
    margin: 0 auto;
  }

.questions {
  max-width: 50%;
  margin: 0 auto;
}
  
.section-item {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .question-item {
    margin-bottom: 15px;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.no-section-message {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
  }